/*    FONTS       */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

/*    MAIN JS     */
body,html{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(0,0,0,0.9);
  box-shadow: 0 0 30px inset rgba(0,0,0,0.3);
  overflow: hidden;
}
.row{
  --bs-gutter-x: 0 !important;
}
.main-content{
  width: 100%;
  height: max-content;
  padding: 20px;
  background-color: white;
  position: relative;
  border-radius: 0;
  top:50%;
  clip-path: circle(0% at 50% 50%);
  transition: 1s clip-path 200ms, 400ms border-radius 1500ms, 500ms box-shadow 1700ms, 1000ms width 4000ms ;
  transform: translate(0,-50%);
  box-shadow: 0;
  transition-timing-function: ease-in-out;
}

.main-show{
  clip-path: circle(100% at 50% 50%);
  border-radius: 20px;
  box-shadow: 0 0 13px inset rgba(0,0,0,0.4), 0 0 5px rgba(255,255,255,0.7);
}

.main-wide{
  width: 100%;
}

.main-form{
  opacity:0;
  height: 100%;
  transition: 1s opacity 2s;
  position:relative;
  width: 100%;

}

.main-form input {
  border-radius: 20px;
  width: 80%;
  height: 30px;
  padding: 10px;
  margin: 5px 0 5px 0;
  border: none;
  font-family: 'Oswald', sans-serif;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  transition: box-shadow 200ms;
}

.main-form input:hover{
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
}

.main-form button{
  width: 80%;
  margin: 10px 0 0 0;
  height: 30px;
  font-family: arial;
  box-shadow: 0 0 2px rgba(0,0,0,0.4);
  border: none;
  background-color: white;
  transition: box-shadow 200ms, background-color 200ms;
  border-radius: 20px;
}

.main-form button:hover{
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
  background-color: rgba(0,0,0,0.1);
}

.main-form button:active{
  box-shadow: 0 0 1px rgba(0,0,0,0.3);
}

input:focus{
  outline: none;
}

.main-form > h1 {
  position: relative;
}

.main-form > h1::after{
  content: '';
  background-color: black;
  animation: form-after-animate 1s forwards;
  position: relative;
  animation-delay: 7s;
  left: 5px;
  transition: width 1s;
  display: inline-block;
  height: 2px;
}

.after-wide{
  width: 45%;
}

.main-title{
  opacity: 0;
  transition: 1s opacity 2s;
  font-family: 'Oswald', sans-serif;
  user-select: none;
  top: 50%;
  left: 50%;
  position:absolute;
  transform: translate(-50%,-50%);
}

.opacity-show{
  opacity: 1;
}
/*                */

/* BOOTSTRAP ALTS */
.container{
  height: 100%;
}
.row{
  height: 100%;
}
.col-10{
  height: 100%;
}
/*                */

/* VANTA CONFIG   */
#vanta-wrapper{
  width: 100%;
  height: 100%;
  box-shadow: 0 0 30px inset rgba(0,0,0,0.3);
}
/*                */

/*   ANIMATIONS   */

@keyframes form-after-animate {
  100% {
    width: 50%;
  }
  0%{
    width: 0;
  }
}
/*                */

/* MEDIA QUERIES  */
@media screen and (max-width:768){
  .main-content{
    width: 100%;
  }
}
/*                */